WHISPER_MODEL=small.en
TRANSCRIBE_DEVICE=cuda
DISABLE_LOL_NORMALIZE=0
DISABLE_FUZZY_CORRECT=0
DISABLE_AUDIO_DENOISE=0
HF_TOKEN=hf_your_token_here
NUM_SPEAKERS=
WHISPERX_BATCH_SIZE=16
MIN_CHUNK_MS=2000